server:
  port: 8081

springdoc:
  api-docs:
    path: /api-docs
    groups:
      enabled: true
  swagger-ui:
    path: /swagger-ui.html
    operations-sorter: method
    tags-sorter: alpha
    display-request-duration: true
    default-model-expand-depth: 3
    display-operation-id: true
    try-it-out-enabled: true

  show-actuator: false
  default-produces-media-type: application/json
  default-consumes-media-type: application/json

spring:
  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:localhost:9092}
    consumer:
      group-id: notification-service-group
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer

  mail:
    host: ${MAIL_HOST:smtp.gmail.com}
    port: ${MAIL_PORT:587}
    username: ${MAIL_USERNAME:}
    password: ${MAIL_PASSWORD:}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

kafka:
  topic:
    user-events: user-events

mail:
  from: no-reply@example.com

logging:
  level:
    com.example.notificationservice: INFO
    org.springdoc: DEBUG